.back-button{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;    
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5 !important;
    padding-top: 16px;
    padding-bottom: 24px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
}