nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav > *{
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 8px;
    text-decoration: none;
}

nav > *:hover {
    color: #D87D4A;
}

@media screen and (min-width: 768px){
    nav{
        display: flex;
        flex-direction: row;
    }
    nav > *{margin: 0 17px;}
    nav > *:first-child{
        margin-left: 0;
    }
    nav > *:last-child{
        margin-right: 0;
    }
}